.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #3D4849;
}

.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.card- {
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card- h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #000;
  background: rgb(222, 222, 222, 65%);
  border-radius: 25px;
  padding: 10px;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.buttons {
  margin: 20px;
  display: flex;
  padding-top: 658px;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

/* Mobile Version */

@media only screen and (max-width: 480px) {
  .dashboard .swipe-container {
    width: 100%;
  }
  .dashboard .card-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .dashboard .swipe-info {
    display: none;
  }
  .buttons {
    padding-top: 560px;
    margin: 40px;
  }
  .buttons button {
    width: 139px;
  }
  .card-{
    width: 366px;
    height: 515px;
    margin-left: 13px;
  }
  .dashboard .hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger span:nth-child(2) {
    transform-origin: center;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}